p{
	background-color: black;/*背景顏色*/
	color: white;/*字的顏色*/

}
p::first-letter{/*第一個字設定*/
	color:#6C3365;/*顏色*/
	font-size:200%;/*大小*/
}
#a1	{
	background-color: gray;/*背景顏色*/
	color: white;/*字的顏色*/
}
div {
		background-color:#FFD2D2;
		color: black;
		padding: 20px;
}
div:hover {
	background-color:#FFC1E0;/*滑鼠碰到改變背景顏色*/
}
a:link {/*沒點過的顏色*/
	color: yellow;
}
a:visited {
	color:red;/*去過的顏色*/
}
a:active {	/*按下去的顏色*/
	color: blue;
}